{
	"parserOptions": {
		"ecmaVersion": 2019,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"rules": {
		"valid-typeof": "error",
		"no-undef": "error",
		"no-unused-vars": "error",
		"no-unsafe-negation": "error",
		"no-unexpected-multiline": "error",
		"strict": ["error", "never"]
	},
	"env": {
		"browser": true
	}
}
